<div>
    <footer class="footer">
        <!-- <h2>Footer Stick to the Bottom</h2> -->
        <ul>
            <li><a href="#">Become a seller</a></li>
            <li><a href="#">Polices</a></li>
            <li><a href="#">Terms And Conditions</a></li>
            <li><a href="#">help center</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <p> © Copyright Ecomm 2023.</p>
    </footer>
</div>