<div class="checkout">
    <h1>Checkout Page</h1>
    <div class="row">
        <div class="col-sm-7">
            <h3>Add Shipping Address</h3>
            <p class="product-message">{{ orderMessage }}</p>
            <form #orderData="ngForm" class="seller-form" (ngSubmit)="orderNow(orderData.value)">
                <input 
                type="email" 
                class="form-input" 
                name="email" 
                placeholder="Enter User Email Id"
                ngModel>
                <input 
                type="text" 
                class="form-input" 
                name="address" 
                placeholder="Enter User Address"
                ngModel>
                <input 
                type="text" 
                class="form-input" 
                name="contact" 
                placeholder="Enter User Contact Details"
                ngModel>
                <button class="form-button">Order Now</button>
            </form>
        </div>
        <div class="col-sm-5">
            <h3>Total Amount : {{ totalPrice }}</h3>
            <h4>Payment Method : Pay On Delivery</h4>
        </div>
    </div>
</div>