.user-auth h2{
    margin-top: 50px;
    margin-bottom: 80px;
    color: rgb(212, 17, 17);
    text-align: center;
}

.user-auth {
    margin-bottom: 100px;
}

.user-auth a {
    color: rgb(212, 17, 17);
    cursor: pointer;
}

.invalid-input {
    color: red;
    font-size: 12px;
}

button:disabled {
    cursor:not-allowed;
}